@import url(font.css);
:root {
  --color-primary: #219f95;
  --color-secondry: #afcedd;
  --border-radius : .8rem;
}
*,
*::after,
*::before {
  font-family: Vazirmatn;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
.block {
  max-width: 1250px;
  padding: 1rem 2rem;
  margin: 0 auto;
}
h1 {
  font-weight: 900;
  font-size: 2.2rem;
}
.card__item {
  width: 335px;
}
.card__items {
  margin-top: 3rem;
}
.item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}
.header__right span {
  width: 35px;
  height: 35px;
  background-color: var(--color-secondry);
  color: blue;
  text-align: center;
  border-radius: var(--border-radius);
  line-height: 35px;
  font-size: 1.4rem;
}
.header__right p {
  color: blue;
  font-size: 1.4rem;
}
.header__left p {
  font-weight: 400;
  font-size: 1rem;
  color: #ccc
}
.item__information{
    margin-top: 1.5rem;
}
.item__information .information__req{
    font-weight: 900;
    font-size: 1.6rem
}
.item__information .information__number{
    font-weight: 400;
    font-size: 1rem;
    color: #ccc
}
.item__footer{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__right .right__img img{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: var(--border-radius);
}
.btn{
  border: none;
  width: 14rem;
  height: 5.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--color-primary);
  color: #fefefe
}
.footer__right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.footer__right .right__name{
  font-weight: 700;
  font-size: 1.6rem;
}
.card__items{
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

@media screen and (min-width:768px){
  .card__items{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width:1024px){
  .card__items{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
  .card__item{
    width: 300px;
  }
}